body {
    /* font-size:1.6rem;
    line-height: 1.7; */
}

.btn {
    /* font-size:1.6rem; */
}

button[type='submit'] {
    position: relative;
    top:1rem;
}

/* Custom styling for pagination links */

.paginator {
    text-align: unset;
    margin-top:.4rem;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.pagination li {
    display: inline-block;
    margin: 2px;
}

.pagination li.active {
    background-color: #007bff;
    border-color: #007bff;
}

.pagination li.active a {
    color: #fff;
    background-color: #007bff;
}

.pagination li a,
.pagination li span {
    padding: 1vw 1vw;
    color: #007bff;
    border: 1px solid #007bff;
    text-decoration: none;
    border-radius: 4px;
}

.pagination li a:hover {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 412px) {
    table.table.table-striped {
        font-size: 70%;
    }

    table.table.table-striped a.btn {
        padding:2px 4px;
        font-size: 110%;
    }

    .pagination li a,
.pagination li span {
    padding:4px 2px;
    font-size: 80%;
    color: #007bff;
    border: 1px solid #007bff;
    text-decoration: none;
    border-radius: 4px;
}
}
